<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a>
                    <button ng-click="user.openLoginForm()" ng-show="!user.username">Login</button>
                    <button ng-click="user.openSignUpForm()" ng-show="!user.username">SignUp</button>
                    <span ng-show="user.username">
                        <span> Welcome {{user.username}}! </span> <span>Status: {{user.activeStatus}}<span>
                        <button class="btn btn-warning" ng-click="user.logout()">Logout</button>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>
